//main: integ.scss

.lang {
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $theme_color;

    &__wrap {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 45%;
        left: 50%;
        width: 50vw;
        height: 50vh;
        @include mq_max(md) {
            width: 90%;
        }
    }

    &__str {
        font-size: 35px;
        color: white;
        line-height: 2;
        text-align: center;
        @include mq_max(md) {
            font-size: 30px;
        }
    }

    &__logos {
        box-sizing: border-box;
        width: 30%;
        margin: 20px auto 30px;
        @include mq_max(sm) {
            margin: 15px auto 20px;
            width: 100%;
        }
        &__item {
            display: none;
            height: auto;
            margin: 0 auto;
        }
        &__item[name="jp"] {
            display: block;
        }
    }

    &__select {
        display: flex;
        justify-content: space-around;
        &__item {
            width: 80px;
            height: 50px;
            padding: 0 10px;
            color: white;
            transition: all 0.2s ease;
            background-color: $theme_color;
            border-radius: 5px;
            text-align: center;
            line-height: 50px;
            &:hover {
                color: $theme_color;
                background-color: white;
                cursor: pointer;
            }
        }
    }
}
